<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>webDriver</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9ebfd1">  <td>14/09/23 12:44:47</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MainTest.setup(java.lang.String)[pri:0, instance:testproject.MainTest@283a0f10]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1178337686</td>   <td></td> </tr>
<tr bgcolor="9ebfd1">  <td>14/09/23 12:44:47</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MainTest.setup(java.lang.String)[pri:0, instance:testproject.MainTest@1858c80c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1848026318</td>   <td></td> </tr>
<tr bgcolor="9ebfd1">  <td>14/09/23 12:44:47</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MainTest.setup(java.lang.String)[pri:0, instance:testproject.MainTest@54efd40d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@722340065</td>   <td></td> </tr>
</table>
